body {
  text-align: center;
}

.desktopImage {
  display: none;
  height: 340px;
  margin-left: 40px;
}

@media (min-width: 768px) {
  .desktopImage {
    display: block;
    height: calc(100vh / 3);
    object-fit: cover; /* Añade esta línea */
  }
}
